/* VARIABLES CSS */
:root {
    --header-height: 3em;
    --font-semi: 600;
}

/* Colors */
:root {
    --first-color: #f44040;
    --second-color: #310e0e;
}

/* Fonts and Typography*/
:root {
    --body-font: Poppins, sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}

/* Margins */
:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

/* Z-index */
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}